package <%= packageName %>.config;

<%= entitiesImport %>
import org.springframework.stereotype.Service;
import uz.devops.khasanof.entityautoroleplugin.AuthorizeConfig;
import uz.devops.khasanof.entityautoroleplugin.domain.EntityAuthorize;

import java.util.Set;

@Service
public class SimpleAuthorizeConfig implements AuthorizeConfig {

    @Override
    public Set<EntityAuthorize> getAuthorities() {
        return Set.of(
            <%= entitiesValue %>
        );
    }

    @Override
    public String path() {
        return "<%= packageName %>";
    }

}
